body {
    background-color: rgb(16, 13, 29);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, cursive;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    width: 58%;
    align-items: center;
    margin: 50px auto;
    gap: 15px;
    padding: 15px;
}
h1 {
    text-align: center;
    font-size: 15px;
    padding-bottom: 15px;
}
.h1 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
}

input {
    padding: 15px;
    border-radius: 10px;
    border: none;
}

input:focus {
    background-color: #72727228;
}

input:hover {
    background-color: #201e1e54;
    box-shadow: 1px 1px 10px rgb(0, 147, 245);
}

button {
    border: none;
    border-radius: 10px;
    background-color: rgb(22, 23, 46);
    padding: 15px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    box-shadow: 0px 0px 2px rgb(0, 209, 94);
}

button:hover {
    cursor: pointer;
    background-color: rgba(7, 6, 5, 0.863);
}

.answers {
    font-size: 20px;
    color: black;
    width: 400px;
    height: 300px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    overflow: auto;
    text-align: center;
}


.answers-invalid {
    color: red;
}

footer {
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
}